body {
 	background: url("fundo.jpg");
}
header {
    background:black;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.pricipal{
    background: black;
    color: white;
    width:50%;
    padding:20 20 0 0;
 }

 p {
    padding: 30px;
    font-size:20px;
    color:white;

 }

.titulo-principal {
    padding-left: 20px;
    
}

.titulo-centralizado {
    text-align: center
}
 
 .titulo-centralizado em strong {
    font-size:40px;
    padding:25px;
    color:white;
 }

#tricolor {
    width: 100%;
}

p {
    text-align: center;

}

#spfc {
    font-size: 20px
}

em strong {
    color: white;
}

.itens {
    font-style: italic;
}

.titulos{
    background: #FFFFFF;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    padding: 80px;
    font-size:20px;
    color:white;
}
.imagembeneficios {
    display: inline-block;
    width:40%;
    padding: 40px;


}
footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 70px 70px  0;
}
